@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #250057;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.input-box img {
    width: 35px;
    cursor: pointer;
}

@media (max-width: 476px) {
    .input-box {
        margin-top: 100px;
    }

    .input-box input {
        padding: 10px 5px;
        font-size: 18px;
    }

    .input-box img {
        width: 25px;
    }
}